# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
dist-ssr/

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Environment & secrets
.env
.env.*
**/.env
**/.env.*
*.secret
*.key
